aside.logo {
    background-color: var(--bg-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

aside.logo img {
    padding: 0px 15px;
    height: 80px;
}

@media(max-width: 576px) {
    aside.logo img {
        height: 80px;
    }
}